footer {
  background-color: yellow;
  width: 100vw;
  height: 7.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/1627253205dix-ans-twitch-1200x625.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
