.newletter_Container {
  background-color: yellow;
  width: 20%;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.searchBar_Container {
  height: 80px;
  background-color: red;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.searchbar {
  height: 30px;
  width: 240px;
  padding: 10px;
}
