.header_content {
  background-image: url("../assets/backgrounds/Bannière\ LinkedIn\ Technologie\ Abstraite\ en\ Bleu\ et\ Blanc.png");
  padding-bottom: 1rem;
  background-size: 100% 100%;
}

.newletter_Container {
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  color: white;
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

// NEWLETTER
.newletter_Text {
  margin: 0 auto;

  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  color: white;
  width: 210px;
  text-align: left;
}

.email_box {
  display: flex;
  margin: 0 auto;
}

.emailbar {
  padding: 0.5rem 0.75rem;
  border-radius: 15px 0 0 15px;
}
.emailButton {
  width: 40px;
  border-radius: 0 15px 15px 0;
  background-color: rgba(149, 150, 230, 0.89);
}

// SEACHBAR
.searchBar_Container {
  display: flex;

  justify-content: center;

  align-items: center;
}
.searchbar {
  height: 15px;
  width: 240px;
  padding: 10px;
  border-radius: 15px 0 0 15px;
}

.searchbar_Button {
  height: 38px;
  width: 54px;

  border-radius: 0 15px 15px 0;
  background-color: rgba(149, 150, 230, 0.89);
}

.return_link {
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
