.Home_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button1 {
  background-color: blueviolet;
  border: 2px solid rgb(132, 155, 0);
  border-radius: 5px;
  padding: 10px 20px;
  background-color: white;
  transition: 500ms ease-in-out;
}

.button1:hover {
  background-color: aqua;
}
