.globalContainer {
  background-color: rgb(176, 199, 233);
  width: 100vw;
  display: flex;
}

// Container entre ads
.Home_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes de largeur égale */
  margin-top: 2rem;
  width: 70vw;
  padding: 0 2rem;
}
// ADS
.Ads-space {
  background-color: rgb(211, 255, 213);
  height: 100vh;
  width: 15vw;
}

// container images
.Home_container_imagesBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

// Image individuels
.home_Image {
  height: 10rem;
  width: 15rem;
  object-fit: contain;
  background-color: rgb(235, 235, 235);
  outline: 1px solid black;
  transition: transform 200ms ease-in;
}

.home_Image:hover {
  transform: scale(1.05);
  background-color: rgb(195, 216, 245);
}

.arrow_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
// arrows
.arrow {
  height: 36px;

  transition: 0.3s ease-in-out;
  outline: 1px solid black;
  cursor: pointer;
  margin: 0 0.5rem;
}

.arrow:hover {
  scale: 1.25;
}
