// Box image focus
.photo_container {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url("../assets/backgrounds/image(9).png");
  background-size: contain;
}
//  Image zoomé
.fullscreen_image {
  position: absolute;
  top: 0;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
}

// Image séléctionné
.selected_img {
  height: 68vh;
  margin: auto;
  outline: 2px solid rgb(0, 0, 0);
  width: 30vw;
  object-fit: cover;
  cursor: pointer;
}

// Fleche avant apres

.arrow {
  height: 50px;
  margin: auto 0;
  transition: 0.3s ease-in-out;
  outline: 2px solid black;
  cursor: pointer;
}

.arrow:hover {
  scale: 1.25;
}

.left {
  rotate: 180deg;
}
// box image carrousel
.photo_carrousel {
  display: flex;
  justify-content: space-evenly;
  background-image: url("../assets/backgrounds/image(13).png");
  background-size: contain;
  height: 22vh;
  align-items: center;
}

.imgSize {
  height: 20vh;
  width: 10vw;
  object-fit: cover;
  cursor: pointer;
  transition: 200ms ease-in;
  outline: 2px solid rgb(250, 255, 200);
}

.imgSize:hover {
  scale: 1.05;
}
